# Using this to make a nice little db

In [7]:
import sqlite3

In [8]:
con = sqlite3.connect("dummy.db")

In [9]:
cur = con.cursor()

In [6]:
con.close()

In [5]:
cur.execute(
            'INSERT INTO issues (name, description, classification, action_to_resolve, due_datetime) VALUES (:name, :description, :classification, :action_to_resolve, :due_datetime);',
            params=dict(name="Broken Faucet", description="There is a broken faucet in the bathroom and the water is not coming out.", classification="Bathroom", action_to_resolve="Review", due_datetime='2025-01-04')
        )

TypeError: Cursor.execute() takes no keyword arguments

In [5]:
cur.execute("CREATE TABLE issues(name TEXT, description TEXT, classification TEXT, action_to_resolve TEXT, due_datetime TEXT)")

In [ ]:
cur.execute("ALTER TABLE issues ADD due_date DATE")

In [16]:
cur.execute("UPDATE issue SET jobsite = 'Greensboro Marriott' WHERE jobsite = 'Greensboro Marriot';")

In [17]:
con.commit()

In [15]:
import pandas as pd
pd.read_sql_query("SELECT * FROM issue WHERE jobsite = 'Greensboro Marriot' ;", con)

,name,description,classification,action_to_resolve,jobsite,area,due_datetime
0,Broken Faucet,There is a broken faucet in the bathroom and t...,Bathroom,Review,Greensboro Marriot,Lobby,2025-01-04
1,Cracked TV,The TV is cracked and needs replacement.,Appliances,Replace,Greensboro Marriot,Room 203,2025-01-04
2,Cracked Window,The window is cracked and requires replacement.,Window,Replace,Greensboro Marriot,Lobby,2025-01-04

In [17]:
cur.execute("""CREATE TABLE issue (
            name TEXT,
            description TEXT,
            classification TEXT,
            action_to_resolve TEXT,
            jobsite TEXT,
            area TEXT,
            due_datetime DATE 
            );
            
            
            """)

In [19]:
cur.execute("""INSERT INTO issue (name, description, classification, action_to_resolve, jobsite, area, due_datetime)
            SELECT name, description, classification, action_to_resolve, jobsite, area, due_date
            FROM issues;
            """)

In [21]:
cur.execute(""" SELECT *
            FROM issues;
            """)

In [32]:
con.commit()

OperationalError: database is locked

In [2]:
import pandas as pd

df = pd.DataFrame({"name" : ["Mikey", "Clari", "Oso"], "color" : ["White", "Morena", "White"]})

df.to_sql("dum", con, if_exists="replace")

NameError: name 'con' is not defined

In [10]:
surveys_df = pd.read_sql_query("SELECT * from dum", con, index_col="index")

In [17]:
pd.read_sql_query("SELECT * from dum", con, index_col="index").to_dict()

{'name': {0: 'Mikey', 1: 'Clari', 2: 'Oso'},
 'color': {0: 'White', 1: 'Morena', 2: 'White'}}