# Using this to make a nice little db

In [28]:
import sqlite3

In [29]:
con = sqlite3.connect("dummy.db")

In [30]:
cur = con.cursor()

In [27]:
con.close()

In [5]:
cur.execute(
            'INSERT INTO issues (name, description, classification, action_to_resolve, due_datetime) VALUES (:name, :description, :classification, :action_to_resolve, :due_datetime);',
            params=dict(name="Broken Faucet", description="There is a broken faucet in the bathroom and the water is not coming out.", classification="Bathroom", action_to_resolve="Review", due_datetime='2025-01-04')
        )

TypeError: Cursor.execute() takes no keyword arguments

In [5]:
cur.execute("CREATE TABLE issues(name TEXT, description TEXT, classification TEXT, action_to_resolve TEXT, due_datetime TEXT)")

In [9]:
cur.execute("ALTER TABLE issues ADD area TEXT")

In [56]:
import pandas as pd
pd.read_sql_query("SELECT * from issues", con)

,name,description,classification,action_to_resolve,due_datetime,jobsite,area
0,Broken Faucet,There is a broken faucet in the bathroom and t...,Bathroom,Review,2025-01-04,Greensboro Marriot,Lobby
1,Cracked TV,The TV is cracked and needs replacement.,Appliances,Replace,2025-01-04,Greensboro Marriot,Room 203
2,Cracked Window,The window is cracked and requires replacement.,Window,Replace,2025-01-04,Greensboro Marriot,Lobby
3,Carpet Cleaning,The carpet requires cleaning.,Flooring,Maintain,2025-01-04,Overmountain Inn,Lobby
4,Stained Bed,The bed has a large stain that needs cleaning.,Furniture,Maintain,2025-01-08,Overmountain Inn,Room 203
5,Missing Couch,A couch is missing and needs to be replaced.,Furniture,Replace,2025-01-10,Overmountain Inn,Room 203

In [51]:
cur.execute("UPDATE issues SET area = 'Lobby' WHERE classification='Window'")

In [54]:
con.commit()

In [2]:
import pandas as pd

df = pd.DataFrame({"name" : ["Mikey", "Clari", "Oso"], "color" : ["White", "Morena", "White"]})

df.to_sql("dum", con, if_exists="replace")

NameError: name 'con' is not defined

In [10]:
surveys_df = pd.read_sql_query("SELECT * from dum", con, index_col="index")

In [17]:
pd.read_sql_query("SELECT * from dum", con, index_col="index").to_dict()

{'name': {0: 'Mikey', 1: 'Clari', 2: 'Oso'},
 'color': {0: 'White', 1: 'Morena', 2: 'White'}}